.admin-container {
    margin: 15px 15px;
    .admin-post,
    .admin-post-header {
        background-color: white;
        display: inline-block;
        font-size: 1em;
        border-bottom: 1px solid #d9e3ea;
        a {
            color: #0073aa;
        }
    }
    .admin-post-header {
        font-weight: bold;
    }
}