.admin-container {
    margin: 15px;

    .admin-post-header {
        display: inline-block;
        font-size: 1em;
        border-bottom: 1px solid #d9e3ea;
        font-weight: bold;
        background-color: white;

        p {
            padding: 10px;
            margin: 0;
        }
    }

    .admin-content {
        background-color: white;
        padding-top: 10px;
        padding-left: 10px;
    }

    .search-fields {
        padding-bottom: 10px;
    }
}
