$border-color: #22252e;
$background-color: #282c37;
$arrow-color: #808080;
$hover-color: white;
$title-color: #2e4453;
$menu-text-color: #7e8ea0;
$hover-list-color: #22252e;

.side-menu {
    position: fixed;
    height: 100vh;
    width: 315px;
    background: $background-color;
    color: $menu-text-color;
    overflow-y: auto;

    ul {
        padding-top: 7px;
        font-size: 1.1em;
        list-style: none;
        padding-left: 0px;

        li {
            line-height: 30px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            user-select: none;

            &.submenu-title > a:hover {
                color: $hover-color;
                cursor: pointer;
            }

            a {
                color: $menu-text-color;

                &:hover {
                    color: $hover-color;
                    cursor: pointer;
                    text-decoration: none;
                }
            }

            i {
                margin-right: 15px;
            }

            input[type=text] {
                height: 30px;
                padding-left: 5px;
            }
        }
    }

    .toggle-button {
        display: inline;
        position: absolute;
        margin-top: 4px;
        margin-left: 10px;
    }

    .arrow {
        color: $arrow-color;
        padding-right: 5px;
        right: 0;
        position: absolute;
        margin-top: 10px;
    }

    .edit-container {
        color: #808080;
        padding-right: 10px;
        right: 0;
        position: absolute;
        display: inline;

        i {
            margin-right: 5px;

            &:hover {
                color: $hover-color;
                cursor: pointer;
            }
        }
    }

    .menu-container.small {
        font-size: 0.85em;

        li {
            padding-left: 0;
            border-bottom: none;
            line-height: 30px;
            padding-top: 10px;
            padding-bottom: 0;

            input[type=checkbox] {
                margin-right: 6px;
                padding-top: 2px;
            }

            p,
            a {
                &:hover {
                    cursor: pointer;
                    color: $hover-color;
                }
            }
        }
    }

    .menu-container.medium {
        font-size: 0.9em;

        li {
            padding-left: 0;
            border-bottom: none;
            line-height: 40px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
