$primary-color: #733089;
$date-color: #e6e3df;
$category-color: #847b79;

.frontpage-content {
    background-color: white;

    .section {
        text-align: center;
        padding-top: 25px;

        h2 a {
            color: $primary-color;
        }

        p.datetime {
            padding: 15px 0;
            color: #c7c7c7;
            font-size: 0.9em;
        }

        .introduction {
            font-size: 1em;
            text-align: justify;
            margin-left: 30px;
            margin-right: 30px;
            border-bottom: 1px solid $date-color;
            line-height: 35px;
            padding-bottom: 25px;
            max-width: 100%;

            .category-container {
                margin-top: 15px;
                text-align: center;

                .category-title {
                    display: inline;
                    background-color: #eeedea;
                    border-radius: 4px;
                    padding: 0 12px;
                    font-size: 14px;
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 7px;

                    a {
                        text-decoration: none;
                        color: $category-color;
                    }
                }
            }
        }
    }

    .page-switch {
        padding: 0 30px;
        background-color: white;
        text-align: center;
        font-size: 1.05em;

        p, a {
            padding: 20px 0;
            border-bottom: 1px solid $date-color;
            display: block;
        }

        a {
            color: $primary-color;

            &:hover {
                color: $primary-color;
                cursor:pointer;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .frontpage-content {
        .section {
            font-size: 0.9em;

            h2 {
                font-size: 1.6em;
            }

            .introduction {
                line-height: 30px;
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
}
