@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="banner">
            <div class="banner-content">
                <img src="http://www.constructcode.com/wp-content/uploads/2016/05/100.png" alt="Construct Code logo" />
                <h1>Construct Code</h1>
                <p>Learn, Build & Improve</p>
            </div>
        </div>
        <div class="frontpage-content">
            <div class="section">
                <h2 class="title">Loading Documents in RavenDB</h2>
                <p class="datetime">17 September 2016</p>
                <div class="introduction">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB...  <i class="fa fa-long-arrow-right redirect-arrow"></i>
                    </p>
                </div>
            </div>
            <div class="section">
                <h2 class="title">Loading Documents in RavenDB</h2>
                <p class="datetime">17 September 2016</p>
                <div class="introduction">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB...  <i class="fa fa-long-arrow-right redirect-arrow"></i>
                    </p>
                </div>
            </div>
            <div class="section">
                <h2 class="title">Loading Documents in RavenDB</h2>
                <p class="datetime">17 September 2016</p>
                <div class="introduction">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB...  <i class="fa fa-long-arrow-right redirect-arrow"></i>
                    </p>
                </div>
            </div>
            <div class="section">
                <h2 class="title">Loading Documents in RavenDB</h2>
                <p class="datetime">17 September 2016</p>
                <div class="introduction">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB...  <i class="fa fa-long-arrow-right redirect-arrow"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
