@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="frontpage-banner">
        <div class="banner-content">
            <h1>Learn, Improve &</h1>
            <p>Construct Code</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-9">
            <div class="main-content">
                <h2 class="text-center">Introduction to RavenDB - Document database</h2>
            </div>
        </div>


        <div class="col-md-3">
            <div class="side-menu">
                <h3 class="text-center">Most Recent</h3>
                <ul>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>