@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="frontpage-banner container">
        <div class="banner-content">
            <img asp-controller="Home" asp-action="Index" src="http://www.constructcode.com/wp-content/uploads/2016/05/100.png" alt="Construct Code Logo" />
            <span class="page-header">
                Construct Code
            </span>
        </div>
    </div>

    <div class="col-md-12 container">
        <div class="col-md-10">
            <div class="main-content col-md-12">
                <h1>Introduction to RavenDB - Document Database</h1>
                <p class="post-datetime">18 January 2016</p>
                <div class="introduction-content">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB.
                    </p>
                </div>
                <button class="button-read-more">Read More</button>
            </div>
            <div class="main-content col-md-12">
                <h1>Introduction to RavenDB - Document Database</h1>
                <p class="post-datetime">18 January 2016</p>
                <div class="introduction-content">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB.
                    </p>
                </div>
                <button class="button-read-more">Read More</button>
            </div>
            <div class="main-content col-md-12">
                <h1>Introduction to RavenDB - Document Database</h1>
                <p class="post-datetime">18 January 2016</p>
                <div class="introduction-content">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB.
                    </p>
                </div>
                <button class="button-read-more">Read More</button>
            </div>
            <div class="main-content col-md-12">
                <h1>Introduction to RavenDB - Document Database</h1>
                <p class="post-datetime">18 January 2016</p>
                <div class="introduction-content">
                    <p>
                        RavenDB is a good choice for .NET developers that want to use a document database. RavenDB comes with a great library for development in .NET with C#. The library can be downloaded with NuGet package manager.

                        In this blog post, I will make a small introduction to document based database systems. I will talk about the benefits that RavenDB has over other database systems.

                        In the last section of the blog, I will guide you through a simple console application using RavenDB, and talk about some of the overall concepts you need to know to start working with RavenDB.

                        This blog post will not be a detailed guide using best practices, but rather an overall introduction to RavenDB.
                    </p>
                </div>
                <button class="button-read-more">Read More</button>
            </div>
        </div>

        <div class="col-md-2">
            <div class="side-menu">
                <h3 class="text-center">Recent Posts</h3>
                <ul>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                    <li><a href="">Topic Awesome 1</a></li>
                </ul>

                <h3 class="text-center">Categories</h3>
                <ul>
                    <li><a href="">RavenDB</a></li>
                    <li><a href="">ASP.NET</a></li>
                    <li><a href="">Entity Framework</a></li>
                    <li><a href="">C#</a></li>
                </ul>

                <h3 class="text-center">Archives</h3>
                <ul>
                    <li><a href="">August 2016</a></li>
                    <li><a href="">July 2016</a></li>
                    <li><a href="">June 2016</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>