@model Constructcode.Web.Controllers.ViewModels.DisplayPostsViewModel

@{
    ViewBag.Title = "Learn, Build and Improve";
    ViewBag.Description = "Construct Code contains posts about code, design and implementation.";
    ViewBag.ShowFooter = true;
    ViewBag.Analytics = true;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-content">
                    @await Html.PartialAsync("_TopBanner")
                    <p>Learn, Build & Improve</p>
                </div>
            </div>
            <div class="frontpage-content">
                @await Html.PartialAsync("_DisplayPostList")
                @await Html.PartialAsync("_PageSwitcher")
            </div>
        </div>
    </div>
</div>
