@model Constructcode.Web.Controllers.ViewModels.DisplayPostsViewModel

@{
    ViewBag.Title = "Construct Code";
    ViewBag.Description = $"Construct Code contains posts about code, design and implementation.";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-content">
                    @Html.Partial("_TopBanner")
                    <p>Learn, Build & Improve</p>
                </div>
            </div>
            <div class="frontpage-content">
                @Html.Partial("_DisplayPost")
                @Html.Partial("_PageSwitcher")
            </div>
        </div>
    </div>
</div>
