@model List<Constructcode.Web.ApiControllers.DataTransferObjects.PostDto>

@{
    ViewBag.Title = "Frontpage Blog";
}

<div class="container">
    <div class="row">
        @Html.Partial("_DisplayPost")
    </div>
</div>
