<div class="side-menu">
    <ul>
        <li>
            <a href="{{vm.redirect.home()}}"><i class="fa fa-globe"></i>Front Page</a>
        </li>
        <li>
            <a href="{{vm.redirect.admin()}}"><i class="fa fa-bars"></i>Dashboard</a>
        </li>
        <li>
            <a href="{{vm.redirect.createPost()}}"><i class="fa fa-pencil"></i>Create New Post</a>
        </li>
        <li>
            <a href="{{vm.redirect.manageAccount()}}"><i class="fa fa-user"></i>Manage Users</a>
        </li>
        <li>
            <a href="{{vm.redirect.accountSettings()}}"><i class="fa fa-lock"></i>Account Settings</a>
        </li>
        <li>
            <a href="#" ng-click="vm.logout()"><i class="fa fa-unlock-alt"></i>Log out</a>
        </li>
    </ul>
</div>