#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 300px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: rgb(233, 239, 243);
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2em;
}

    .sidebar-nav li {
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #2e4453;
            padding: 7px 0;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #33bbe3;
                background: none;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        font-size: 18px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #2e4453;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #33bbe3;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 300px;
        border-right: 1px solid #d9e3ea;
        box-sizing: content-box;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
