body {
    font-family: 'Open Sans', sans-serif;
}

.body-content {
    padding-left: 0;
    padding-right: 0;
    background-color: #fcfbf7;
}

.frontpage-banner {
    height: 250px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    text-align: center;
}

    .frontpage-banner .banner-content {
        padding-top: 20px;
        color: black;
    }

        .frontpage-banner .banner-content h1 {
            margin-top: 30px;
        }

        .frontpage-banner .banner-content p {
            margin-top: 0;
            font-size: 20px;
        }





.no-padding-left-right {
    padding-right: 0;
    padding-left: 0;
}



/* Main Content */
.main-content {
    margin-bottom: 50px;
}

    .main-content h1 {
        color: #A62E5C;
        font-size: 28px;
    }

    .main-content .introduction-content {
        padding: 0 100px;
        font-size: 17px;
    }

    .main-content .post-datetime {
        font-weight: bold;
    }


/* Side Menu */
.side-menu {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #fcfbf7;
}

    .side-menu a {
        color: #A62E5C;
        text-decoration: underline;
    }

    .side-menu ul {
        text-align: center;
        padding: 0;
        border-bottom: 1px solid #EAEAEA;
    }

    .side-menu li {
        display: block;
        margin-bottom: 5px;
        font-size: 1.1em;
    }



/* Footer */
.footer-container {
    background-color: #2d3142;
    color: white;
    height: 75px;
}

.footer-content {
    padding-top: 20px;
}

    .footer-content p {
        margin-bottom: 0;
    }



/* Bootstrap overrides */
.navbar-inverse {
    background-color: #52315c;
    border-color: #52315c;
}

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 16px;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #52315c;
    }

.navbar-brand {
    font-size: 25px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 1500px;
    }
}
