body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f2f1;
}

.body-content {
    margin: 15px 15px;
}

/*Common*/
.text-warning {
    color: red;
}

/*Login page*/
.center-form {
    margin: 0 auto;
    width: 30%;
}

.login-form {
    background-color: white;
    border: 1px solid #d8dee2;
    padding: 20px;
    margin-top: 20px;
}

    .login-form input {
        border-radius: 0;
    }

    .login-form .btn {
        min-width: 100%;
        background-color: #733089;
        border: none;
        border-radius: 0;
    }

:hover .login-form .btn:hover {
    background-color: rgba(115, 48, 137, 0.9);
}

/*Banner*/
.banner {
    background-color: #232c35;
    min-height: 260px;
}

    .banner .banner-content {
        color: white;
        text-align: center;
        padding-top: 30px;
    }

        .banner .banner-content p {
            font-size: 1.4em;
        }

/*Frontpage content*/
.frontpage-content {
    background-color: white;
    margin-top: -10px;
}

.section {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .section .title {
        color: #733089;
        font-size: 28px;
    }

    .section .datetime {
        padding-top: 20px;
        padding-bottom: 8px;
        color: #c7c7c7;
    }

    .section .introduction {
        font-size: 1.2em;
        text-align: justify;
        text-justify: inter-word;
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: 1px solid #e6e3df;
        line-height: 35px;
        padding-bottom: 25px;
    }

.button-readmore {
    width: 100px;
    color: white;
    background-color: #733089;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1em;
    text-align: center;
    text-justify: auto;
}

.redirect-arrow {
    color: #81bc3e;
    font-size: 15px;
    cursor: pointer;
}

/*Frontpage content*/
footer {
    margin-top: 20px;
}

/*Create Post*/

.title {
    border: none;
    font-size: 2em;
    margin: 0 auto;
    width: 30%;
    background-color: transparent;
    font-size: 36px;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid #d8dee2;
    margin-bottom: 20px;
}

    .title:focus {
        outline-color: transparent;
    }

    .title::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: rgba(95, 158, 160, 0.6);
    }


.fr-box.fr-basic .fr-element {
    height: 650px;
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}
