body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f2f1;
}

pre {
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 4px 10px;
}

.body-content {
    margin: 15px 15px;
}

.remove-body-content {
    margin: -15px -15px;
}

/*Common*/
.text-warning {
    color: red;
}

.text-center {
    text-align: center;
}

.inline {
    display: inline;
}

.pointer {
    cursor: pointer;
}

/*Login page*/
.center-form {
    margin: 0 auto;
    width: 30%;
}

.login-form {
    background-color: white;
    border: 1px solid #d8dee2;
    padding: 20px;
    margin-top: 20px;
}

    .login-form input {
        border-radius: 0;
    }

    .login-form .btn {
        min-width: 100%;
        background-color: #733089;
        border: none;
        border-radius: 0;
    }

    .login-form h3 {
        margin-top: 20px;
    }

.login-header {
    text-align: center;
    margin-top: 7px;
}

:hover .login-form .btn:hover {
    background-color: rgba(115, 48, 137, 0.9);
}

/*Banner*/
.banner {
    background-color: #232c35;
    min-height: 260px;
    padding-bottom: 25px;
}

    .banner .banner-content {
        color: white;
        text-align: center;
        padding-top: 30px;
    }

        .banner .banner-content p {
            font-size: 1.4em;
        }

    .banner h1 {
        margin-top: 12px;
    }

/*Frontpage content*/
.frontpage-content {
    background-color: white;
    margin-top: -10px;
}

.section {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

    .section .title a {
        color: #733089;
        font-size: 28px;
    }

    .section .datetime {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #c7c7c7;
    }

    .section .introduction {
        font-size: 1.2em;
        text-align: justify;
        text-justify: inter-word;
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: 1px solid #e6e3df;
        line-height: 35px;
        padding-bottom: 25px;
    }

.button-readmore {
    width: 100px;
    color: white;
    background-color: #733089;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1em;
    text-align: center;
    text-justify: auto;
}

.redirect-arrow {
    color: #81bc3e;
    font-size: 15px;
    cursor: pointer;
}

/*Frontpage content*/
footer {
    margin-top: 20px;
}

/*Post*/
.title-createpost {
    border: none;
    font-size: 2em;
    margin: 0 auto;
    width: 30%;
    background-color: transparent;
    font-size: 36px;
    padding: 0 0;
    width: 100%;
    border-bottom: 1px solid #d8dee2;
    margin-bottom: 20px;
}

    .title-createpost:focus {
        outline-color: transparent;
    }

    .title-createpost::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.4);
    }

.button-default {
    min-width: 100%;
    background-color: #733089;
    border: none;
    border-radius: 0;
}

    .button-default:hover {
        background-color: rgba(115, 48, 137, 0.9);
    }

.fr-box.fr-basic .fr-element {
    min-height: 650px;
}

.post-container {
    width: 90%;
}

/*Admin*/
.admin-post {
    border-bottom: 1px solid #e6e3df;
    text-align: justify;
    text-justify: inter-word;
    background-color: white;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.logo-sidemenu {
    margin-top: 10px;
    padding-bottom: 10px;
}

.border-bottom {
    border-bottom: 1px solid #d9e3ea;
}

.side-menu-item {
    text-indent: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

    .side-menu-item i {
        padding-right: 20px;
    }

    .side-menu-item .arrow {
        color: gray;
        padding-right: 15px;
        right: 0;
        position: absolute;
        margin-top: 10px;
    }

ul.toggle-list {
    margin-left: 20px;
    font-size: 14px;
}

    ul.toggle-list p {
        padding-left: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
    }

@media (min-width: 1200px) {
    .container {
        width: 1250px;
    }
}
