$font-stack: 'Open Sans', sans-serif;

$primary-color: #333;
$background-color: #f1f2f1;
$error-color: red;

html, body {
    font: 100% $font-stack;
    background-color: $background-color;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

footer {
    margin-bottom: 10px;

    .footer-content {
        p {
            text-align: center;
            background-color: white;
            padding-bottom: 20px;
        }
    }
}

.text-error {
    color: $error-color;
}

.text-center {
    text-align: center;
}

.no-padding {
    padding: 0;
}
