<div class="text-center">
    <h1 class="text-warning">Forbidden - You're not Authorized</h1>
    <br />
    <i class="fa fa-warning" style="font-size: 110px; color: red;"></i>
    <br />
    <a asp-controller="Home" asp-action="Index">Return to main site</a>
</div>