.edit-post {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

    input[type=text] {
        border: none;
        font-size: 2em;
        margin: 0 auto;
        background-color: transparent;
        font-size: 36px;
        padding: 0 0;
        width: 100%;
        border-bottom: 1px solid #d8dee2;
        margin-bottom: 10px;
        max-width: 100%;

        &:focus {
            outline: none;
        }
    }
}
