@{
    ViewBag.Title = "Index";
}

<div class="row remove-body-content" ng-controller="AdminController as vm">
    <div id="wrapper post-container">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{vm.redirect.home()}}" class="side-menu-item border-bottom"><i class="fa fa-globe"></i>Front page</a>
                </li>
                <li class="sidebar-brand">
                    <a href="{{vm.redirect.admin()}}" class="side-menu-item border-bottom"><i class="fa fa-home"></i>Admin Panel</a>
                </li>
                <li class="sidebar-brand">
                    <a href="{{vm.redirect.createPost()}}" class="side-menu-item border-bottom"><i class="fa fa-pencil"></i>Create New Post</a>
                </li>
                <li class="sidebar-brand">
                    <a href="{{vm.redirect.manageUsers()}}" class="side-menu-item border-bottom"><i class="fa fa-user"></i>Manage Users</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">                  
                        <div class="admin-post" ng-repeat="post in vm.posts">
                            <a href="{{vm.redirect.editPost(post.id)}}">
                                <h3>{{post.title}}</h3>
                            </a>
                            <p>Created: {{post.created}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>