@{
    ViewBag.Title = "Admin";
}

<div ng-controller="AdminController as vm">
    <div>
        @Html.Partial("_SideBarAdmin")
        <div class="admin-post" ng-repeat="post in vm.posts">
            <a href="{{vm.redirect.editPost(post.id)}}">
                <h3>{{post.title}}</h3>
            </a>
            <p>Created: {{post.created}}</p>
        </div>
    </div>
</div>
