@{
    ViewBag.Title = "Admin";
    Layout = "_LayoutAdmin";
}

<div>
    <div class="col-md-2 no-padding">
        <admin-side-menu></admin-side-menu>
    </div>

    <div class="col-md-10">
        <post-panel></post-panel>
    </div>
</div>