<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Construct Code</title>

    <link async href="~/minified/site.min.css" rel="stylesheet" />

    <!-- Google Analytics -->
    <environment names="Staging,Production">
        <script>
            window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
            ga('create', 'UA-83257241-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    </environment>
    <!-- End Google Analytics -->

</head>
<body ng-app="app" ng-cloak>
    <div>
        @RenderBody()

        @if (ViewBag.ShowFooter != null && ViewBag.ShowFooter)
            {
            <footer>
                <div class="container">
                    <div class="footer-container">
                        <div class="footer-content">
                            <p>&copy; 2016 - Construct Code</p>
                        </div>
                    </div>
                </div>
            </footer>
        }
    </div>

    <script src="~/minified/site.min.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/minified/tinymce-angular.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
