<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Construct Code</title>

    <environment names="Development">
        @*Third party*@
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

        @*Site Specific*@
        <link href="~/minified/site.min.css" rel="stylesheet" />
    </environment>

    <environment names="Staging,Production">
        @*Third party*@
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

        @*Site Specific*@
        <link href="~/minified/site.min.css" rel="stylesheet" />
    </environment>

</head>
<body ng-app="app" ng-cloak>
    <div>
        @RenderBody()

        @if (ViewBag.ShowFooter != null && ViewBag.ShowFooter)
            {
            <footer>
                <div class="container">
                    <div class="footer-container">
                        <div class="footer-content">
                            <p>&copy; 2016 - Construct Code</p>
                        </div>
                    </div>
                </div>
            </footer>
        }
    </div>

    <environment names="Development">
        <script src="~/minified/site.min.js"></script>
        <script src="~/lib/tinymce/tinymce.js"></script>
        <script src="~/minified/plugins.min.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/minified/site.min.js"></script>
        <script src="~/lib/tinymce/tinymce.js"></script>
        <script src="~/minified/plugins.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
