<div class="side-menu">
    <div class="top col-md-12 no-padding">
        <ul>
            <li class="col-md-3">
                <a title="Go to website frontpage" href="{{vm.redirect.home()}}">
                    <i class="fa fa-globe"></i>
                </a>
            </li>
            <li class="col-md-3">
                <a href="{{vm.redirect.createPost()}}" title="Create new post">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li class="col-md-3">
                <a title="Change password">
                    <i class="fa fa-key"></i>
                </a>
            </li>
            <li class="col-md-3">
                <a title="Log out">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </div>

    <ul>
        <li>
            <a href="{{vm.redirect.admin()}}" class="side-menu-item border-bottom"><i class="fa fa-bars"></i>Dashboard</a>
        </li>
        <li>
            <a href="{{vm.redirect.manageAccount()}}" class="side-menu-item border-bottom"><i class="fa fa-user"></i>Manage Users</a>
        </li>
    </ul>
</div>