<div class="side-menu">
    <ul>
        <li>
            <a href="{{vm.redirect.home()}}" class="side-menu-item border-bottom"><i class="fa fa-globe"></i>Front page</a>
        </li>
        <li>
            <a href="{{vm.redirect.admin()}}" class="side-menu-item border-bottom"><i class="fa fa-home"></i>Admin Panel</a>
        </li>
        <li>
            <a href="{{vm.redirect.createPost()}}" class="side-menu-item border-bottom"><i class="fa fa-pencil"></i>Create New Post</a>
        </li>
        <li>
            <a href="{{vm.redirect.manageAccount()}}" class="side-menu-item border-bottom"><i class="fa fa-user"></i>Manage Account</a>
        </li>
    </ul>
</div>