<a href="{{vm.redirect.home()}}">
    <img title="Go to frontpage" style="width:100px; height:100px;" src="~/images/content/logo.png" alt="Construct Code logo" />
</a>
<a href="{{vm.redirect.home()}}">
    <h1 title="Go to frontpage" ng-click="vm.redirect.home()">Construct Code</h1>
</a>