<a href="{{vm.redirect.home()}}">
    <img title="Go to frontpage" src="http://www.constructcode.com/wp-content/uploads/2016/05/100.png" alt="Construct Code logo" />
</a>
<a href="{{vm.redirect.home()}}">
    <h1 title="Go to frontpage" ng-click="vm.redirect.home()">Construct Code</h1>
</a>