$login-button-background-color: #733089;
$login-button-text-color: #fff;
$login-border-color: #d8dee2;
$login-background-color: #fff;
.center-form {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px;
    .login-header {
        text-align: center;
        margin-top: 15px;
    }
    a {
        text-align: center;
    }
    label {
        margin-bottom: 10px;
        font-weight: 400;
    }
    p.text-error {
        margin-bottom: 15px;
        text-align: center;
    }
    .login-form {
        background-color: $login-background-color;
        border: 1px solid $login-border-color;
        padding: 20px;
        margin-top: 20px;
        input {
            border-radius: 0;
            min-width: 100%;
        }
        button {
            min-width: 100%;
            background-color: $login-button-background-color;
            border: none;
            border-radius: 0;
            color: $login-button-text-color;
        }
    }
}