$green-light: #5cb85c;
$green-dark: #4c994c;
$red-light: #c9302c;
$red-dark: #b52b28;
$disabled-color: gray;
.button-standard {
    max-width: 200px;
    background-color: gray;
    border: none;
    border-radius: 0;
    color: white;
    padding: 5px 20px;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        cursor: not-allowed;
    }
    &.green {
        background-color: $green-light;
        &:hover {
            background-color: $green-dark;
        }
        &:disabled {
            background-color: $disabled-color;
        }
    }
    &.red {
        background-color: $red-light;
        &:hover {
            background-color: $red-dark;
        }
        &:disabled {
            background-color: $disabled-color;
        }
    }
}

// Toggle button
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 1px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked+.slider {
    background-color: $green-light;
}

input:focus+.slider {
    box-shadow: 0 0 1px $green-light;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}