.button-standard {
    max-width: 200px;
    background-color: gray;
    border: none;
    border-radius: 0;
    color: white;
    padding: 5px 20px;

    &:hover {
        cursor: pointer;
    }

    &.green {
        background-color: #5cb85c;

        &:hover {
            background-color: #4c994c;
        }
    }

    &.red {
        background-color: #c9302c;

        &:hover {
            background-color: #b52b28;
        }
    }
}
