@model Constructcode.Web.ViewModels.CreatePostViewModel

@{
    ViewBag.Title = "Create Post";
}

<div class="row remove-body-content">
    <div id="wrapper post-container">
        @Html.Partial("_Sidemenu")
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-controller="Post" asp-action="CreatePost">
                            <input type="text" name="title" class="title-createpost" placeholder="Title" value="@Model.Title" />

                            <div class="form-group">
                                <textarea id="edit" name="content">@Model.Content</textarea>
                            </div>

                            <button type="submit" class="btn btn-success">Save Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.4/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.4/js/froala_editor.min.js"></script>


    <script>
        $(function () {
            $('#edit').froalaEditor();
        });
    </script>
}