@{
    ViewBag.Title = "Create Post";
}

<div class="row remove-body-content" ng-controller="CreatePostController as vm">
    <div id="wrapper post-container">
        @Html.Partial("Partial/_Sidemenu")
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <input type="text" name="title" class="title-createpost" placeholder="Title" ng-model="vm.post.title" />

                            <div class="form-group">
                                <div text-editor ng-model="vm.post.content"></div>
                            </div>

                            <button ng-click="vm.createPost()" class="btn btn-success">Create post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>