@{
    ViewBag.Title = "Edit Post";
}

<div class="row remove-body-content" ng-controller="EditPostController as vm" >
    <div id="wrapper post-container">
        @Html.Partial("_Sidemenu")
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <input type="text" name="title" ng-model="vm.post.title" class="title-createpost" placeholder="Title" />

                            <div class="form-group">
                                <textarea id="edit" ng-model="vm.post.content" name="content" style="width:100%"></textarea>
                            </div>

                            <button type="submit" class="btn btn-success">Save Post</button>
                            @*<a asp-controller="Post" asp-action="DeletePost" asp-route-id="" class="btn btn-danger">Delete Post</a>*@
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>