@{
    ViewBag.Title = "Edit Post";
}

<div class="remove-body-content no-container" ng-controller="EditPostController as vm">





    <div class="no-container">
        <div class="col-md-2">
            <div my-example max="55"></div>
        </div>

        <form class="col-md-10">
            <input type="text" name="title" ng-model="vm.post.title" class="title-createpost" placeholder="Title" />

            <div class="form-group">
                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.post.content"></textarea>
            </div>

            <button ng-click="vm.savePost()" class="button-standard green">Save Post</button>
            <button ng-click="vm.deletePost()" class="button-standard red">Delete Post</button>
        </form>
    </div>

</div>
