@{
    ViewBag.Title = "Edit Post";
}

<div ng-controller="EditPostController as vm">

    <div class="col-md-12 no-padding">
        <div class="col-md-2 no-padding">
            <side-menu post="vm.post" categories="vm.categories"></side-menu>
        </div>

        <div class="col-md-10 edit-post">
            <form>
                <input type="text" ng-model="vm.post.title" placeholder="Title" />

                <div class="form-group">
                    <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.post.content"></textarea>
                </div>

                <button ng-click="vm.savePost()" class="button-standard green">Save Post</button>
                <button ng-click="vm.deletePost()" class="button-standard red">Delete Post</button>
            </form>
        </div>
    </div>
</div>
