<div ng-controller="DisplayPostController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="banner-content">
                        @Html.Partial("_TopBanner")
                        <p>{{vm.post.title}}</p>
                    </div>
                </div>
                <div class="frontpage-content">
                    <div class="section">
                        <div class="introduction">
                            <h2>{{vm.post.title}}</h2>
                            <p ng-bind-html="vm.post.content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>