<div class="side-menu">
    <ul class="sidebar-nav">
        <!--Admin Panel-->
        <li class="submenu-title">
            <a class="side-menu-item border-bottom" href="{{vm.redirect.admin()}}">
                <i class="fa fa-home"></i>
                Admin Panel
            </a>
        </li>

        <!--Publish-->
        <li class="submenu-title" ng-click="vm.post.published = !vm.post.published">
            <a>
                <i class="fa fa-calendar"></i>
                Published
            </a>
            <div class="toggle-button">
                <div class="switch">
                    <input type="checkbox" ng-model="vm.post.published">
                    <div class="slider round"></div>
                </div>
            </div>
        </li>

        <!--Created Date-->
        <li class="submenu-title">
            <a ng-init="vm.toggleCategories = false" ng-click="vm.toggleCreated = !vm.toggleCreated">
                <i class="fa fa-pencil"></i>
                Created Date
                <i ng-class="vm.toggleCreated ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa arrow"></i>
            </a>
            <ul ng-show="vm.toggleCreated" class="menu-container small">
                <li>
                    <input type="text" ng-model="vm.post.created" pikaday format="DD MMMM YYYY"/>
                </li>
            </ul>
        </li>

        <!--Upload Image-->
        <li class="submenu-title">
            <a ng-click="vm.uploadImage()"><i class="fa fa-image"></i>Upload Image</a>
        </li>

        <!--Categories-->
        <li class="submenu-title">
            <a ng-init="vm.toggleCategories = false" ng-click="vm.toggleCategories = !vm.toggleCategories">
                <i class="fa fa-pencil"></i>
                Categories
                <i ng-class="vm.toggleCategories ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa arrow"></i>
            </a>
            <ul ng-show="vm.toggleCategories" class="menu-container small">
                <li ng-repeat="category in vm.categories" ng-mouseover="category.showEdit = true" ng-mouseleave="category.showEdit = false">
                    <input type="checkbox" ng-model="category.selected" />
                    <p class="inline" ng-click="category.selected = !category.selected; vm.updatePostCategories()">
                        {{category.title}}
                    </p>
                    <div class="edit-container">
                        <i ng-show="category.showEdit" ng-click="vm.editCategory(category)" class="fa fa-pencil pointer"></i>
                        <i ng-show="category.showEdit" ng-click="vm.deleteCategory(category)" class="fa fa-trash pointer"></i>
                    </div>
                </li>

                <li>
                    <a class="hover-pointer" ng-click="vm.createCategory()">
                        <i class="fa fa-folder-open"></i>
                        New category
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
