<div class="side-menu">
    <ul class="sidebar-nav">
        <!--Admin Panel-->
        <li class="submenu-title">
            <a class="side-menu-item border-bottom">
                <i class="fa fa-home"></i>
                Admin Panel
            </a>
        </li>

        <!--Publish-->
        <li class="submenu-title">
            <a ng-init="vm.togglePublished = false" ng-click="vm.togglePublished = !vm.togglePublished">
                <i class="fa fa-calendar"></i>
                Publish
                <i ng-class="vm.togglePublished ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa arrow"></i>
            </a>
            <ul ng-show="vm.togglePublished" class="menu-container medium">
                <li>
                    <i class="fa fa-eye"></i>
                    <p class="inline">Published: Hidden</p>
                    <p class="inline btn-link">Edit</p>
                </li>
            </ul>
        </li>

        <!--Upload Image-->
        <li class="submenu-title">
            <a ng-click="vm.sideMenu.uploadImage()"><i class="fa fa-image"></i>Upload Image</a>
        </li>

        <!--Categories-->
        <li class="submenu-title">
            <a ng-init="vm.toggleCategories = false" ng-click="vm.toggleCategories = !vm.toggleCategories">
                <i class="fa fa-pencil"></i>
                Categories
                <i ng-class="vm.toggleCategories ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa arrow"></i>
            </a>
            <ul ng-show="vm.toggleCategories" class="menu-container small">
                <li ng-repeat="category in vm.categories" ng-mouseover="category.showEdit = true" ng-mouseleave="category.showEdit = false">
                    <input type="checkbox" ng-model="category.selected" />
                    <p class="inline" ng-click="category.selected = !category.selected">
                        {{category.title}}
                    </p>
                    <div class="edit-container">
                        <i ng-show="category.showEdit" ng-click="vm.sideMenu.editCategory(category)" class="fa fa-pencil pointer"></i>
                        <i ng-show="category.showEdit" ng-click="vm.sideMenu.deleteCategory(category)" class="fa fa-trash pointer"></i>
                    </div>
                </li>

                <li>
                    <a ng-click="vm.sideMenu.createCategory()">
                        <i class="fa fa-folder-open"></i>
                        New category
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
